.about {
    /* position: absolute; */
    margin-top: 100px;
    margin-left: 100px;
    /* top: 100px; 
    z-index: 1; */
    height: 450px;
    width: 450px;
    /* background-color: rgb(117, 106, 106); */
    color: white;
    text-align: left;
    padding: 15px;
    line-height: 2;
}
/* .about h1, h2, p {
    text-align: left;
} */